/*Cores do site:
--text: #e7f7f7;
--background: #363b3b;
--primary: #4666b8;
--secondary: #193466;
--accent: #285691;
 */
@font-face {
    font-family: "Retro";
    src: url(../Jogo/font/retro.ttf);
}
* {
    font-family: "Retro", monospace;
    pointer-events: bounding-box;
}

/* --------------------------  Background Site index -------------------------- */
body {
    /* Para inserir a imagem de fundo basta alterar a imagem abaixo: */
    background-image: url(../images/front/dylan-warbrick-pixelartresized-1.jpg);
    background-size: cover;
    margin: 0;
}
/* --------------------------  Header -------------------------- */
#header{
    background-color: dimgray;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    width: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 4px darkslategray solid;
    margin-bottom: 30px;
}
/* -------------------------- Opções -------------------------- */
.opcoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#buSnakeoption{
    font-size: 100px;
    margin: 0px;
}
#buSnakeoptiona{
    border: none;
    font-size: 100px;
    margin: 0px;
    background-color: transparent;
}
a{
    text-decoration: none;
    color: #363b3b;
    font-size: 50px;
    font-weight: bolder;
    opacity: 100%;


    transition: ease-out 0.26s;
    padding: 5px;
    border: darkslategray 5px solid;
    border-radius: 100px;
    background-color: gray;
}
a:hover{
    color: #e7f7f7;
}
a:before{
    transition: 0.52s all ease;
    opacity: 0;
    content: "";
    background-color: darkslategray;
}

.opcoes p{
    margin: 0px 20px 00px 20px;
    opacity: 94%;
}
