button {
    all: unset;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#jogar {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    width: 883px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    font-size: 2.5rem;
}

#base {
    position: fixed;
    left: 40px;
    width: 350px;
    height: 300px;
    top: 355px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    background-color: darkslategray;
    color: white;
    border: 2px black solid;
}

#base div{
    padding-bottom: 20px;
    font-size: 25px;
}

canvas {
    border: 1px solid black;
}

#tanque {
    width: 80px;
    height: 800px;
    margin-left: -1px;
    border: 1px solid black;
    background-color: dimgray;
}

#medidor {
    width: 80px;
    height: 100%;
    text-align: center;
    position: relative;
    background-color: yellow;
}

#fimDeJogo {
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 33%;
    opacity: 90%;
    width: 600px;
    height: 500px;
    background-color: red;
    color: white;
}

#fimDeJogo #topo {
    width: 100%;
    height: 5%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row-reverse;
}

#fimDeJogo #topo button {
    margin-right: 2%;
}

#fimDeJogo #corpo {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgFim {
    width: 100%;
    height: 70%;
}

#fimDeJogo #corpo .texto{
    height: 25%;
    width: 100%;
}

#fimDeJogo #corpo .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#fimDeJogo #corpo .mensagem {
    text-align: center;
    text-decoration: underline;
}

#fimDeJogo #corpo .mais {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
}

#fimDeJogo #corpo .mais #imagemFim {
    width: 50%;
    height: 100%;
}

#fimDeJogo #corpo .mais #estatisticas {
    width: 50%;
    height: 100%;
}

#fimDeJogo #corpo .mais #estatisticas div {
    margin-left: 10px;
}

#fimDeJogo #imgLucro {
    height: 60%;
    width: 100%;
}

#fimDeJogo #footer {
    width: 100%;
    height: 5%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

